@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@primer/css/color-modes/index.scss";
// @import "@primer/css/base/index.scss";
@import "@primer/css/markdown/index.scss";

@import "./markdown.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
